<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.cyj.board.model.dao.BoardDao">
	
	<select id="totalCount" resultType="int">
		select count(*) from board 
	</select>
	<select id="selectBoardList" resultType="board">
		SELECT * FROM
			(SELECT ROWNUM AS RNUM, B.* FROM
			    (SELECT 
			        BOARD_NO,
                    BOARD_TYPE,
			        BOARD_TITLE,
			        BOARD_CONTENT,
			        BOARD_WRITER,
			        MEMBER_ID,
			        BOARD_DATE
			    FROM BOARD			   	
			    JOIN MEMBER ON (BOARD_WRITER = MEMBER_ID)			   
			    ORDER BY 1 DESC)B)
		WHERE RNUM BETWEEN #{start} and #{end}
	</select>
	
</mapper>
 